<div class="container bs-docs-container" ng-controller="BlogCtr">
    <div class="row">
        <div class="page-header">
            <h1>禹晖-全觉新人类歌词</h1>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="page-header col-md-12">
                <h3>1、《心明天会更好》</h3>
            </div>

            <div class="col-md-8 col-md-offset-1">
                <p>
                    <strong>轻轻敲醒沉睡的心灵</strong>,慢慢张开你的 眼睛。
                    <br>看看忙碌的世界,是否依然
                    <span class="text-red">快乐</span>的转个不停。
                    <br>春风不解风情,
                    <span class="text-red">吹动少年</span>的
                    <span class="text-blue">心港</span>,让昨日脸上的泪痕随记忆风干 了。
                </p>
                <p>
                    <strong>抬头寻找天空的翅膀</strong>,候鸟出现它的影迹。
                    <br>带来宇宙的光明,无情的战火转 为恩爱的消息。
                    <br>玉山白雪飘零,
                    <span class="text-red">燃烧少年</span>的
                    <span class="text-blue">心堂</span>,使真情溶化成音符。
                    <br>倾诉
                    <span class="text-red">真心</span>的祝福。
                    <p>
                        <strong>唱出你的热情,伸出你的双手</strong>,让我 拥抱着你的梦 。
                        <br>让我拥有你
                        <span class="text-red">真心</span>的面孔。
                        <br>让我们的笑容,充满着青春的骄傲。
                        <br>为明天献出虔诚的祈祷。</p>
                    <p>
                        <strong>从外在看内在,从别人看到自己</strong>。
                        <br>透 过别人的现象,你才能真正的认识到自己。
                        <br>不能容忍他人,
                        <span class="text-red">就封闭自己</span>的
                        <span class="text-blue">心房</span>, 会让沉睡关闭的心房永远难见阳光。</p>
                    <p>
                        <strong>你是什么样的人,看到别人就是这样</strong>。
                        <br>内在是什么样子,就会吸引什么样的人到来。
                        <br>爱你不喜欢的人,
                        <span class="text-red">圆融青年</span>的
                        <span class="text-blue">心航</span>, 你会学习生命的正道。
                        <br>倾诉
                        <span class="text-red">震撼</span>的祝福。</p>
                    <p>
                        <strong>爱那责备你的人,懂得生活
                            <span class="text-red">正道</span>,让我拥抱着你的梦</strong>。
                        <br>让我拥有你
                        <span class="text-red">幸福</span>的面孔。
                        <br>欣赏和接纳不喜欢不爱的人们。
                        <br>你就会变成光明的使者。</p>
                    <p>
                        <strong>人人都是自己的主人,更是未来
                            <span class="text-red">光</span>的主人</strong>。
                        <br>你若约束了别人,束缚永远困扰你无止轮回。
                        <br>如果你很排斥,这是你的课题, 必须学到功课你才会 迎来喜悦和幸福。</p>
                    <p>
                        <strong>如果欣赏一切的现实,生活就会充满爱</strong>。
                        <br>带来宇宙的光明,将痛苦地球转变为 灿烂辉煌。
                        <br>爱你不喜欢的人,
                        <span class="text-red">圆满成熟</span>的
                        <span class="text-blue">心行</span>,你会学习生命的正道。
                        <br>倾诉
                        <span class="text-red">浩瀚</span>的祝福。</p>
                    <p>
                        <strong>唱出你的热情,伸出你的双手 ,让我 拥抱着你的梦</strong>。
                        <br>让我拥有你
                        <span class="text-red">美丽</span>的面孔。
                        <br>让我们的笑容,充满着青春的骄傲,为明 天献出虔诚的祈祷。</p>
            </div>
            <div class="page-header col-md-12">
                <h3>2、《重生宝典》</h3>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <p>
                    <br>净寂中轻轻问自己,问自己心灵的航向。
                    <br>
                    <span class="text-red">我的心已选择归航,回到那源头的方向</span>。
                </p>
                <p>
                    <strong>你怕死亡吗?怕分离吗?</strong>死亡是新生命诞生,那是重生,生命的恩典。
                    <br>分离 是人生必经的道路,那是神圣、神圣的 礼物,那是心灵旅行的真相。</p>
                <p>
                    <strong>怕失去吗?怕贫穷吗?</strong>失去是大收获的前奏,那是幸福、幸福的变奏曲。
                    <br>贫穷是大富贵的根基,那是智慧的源泉, 是造物主回旋的力量。</p>
                <p>
                    <strong>怕疾病吗?怕衰老吗?</strong>疾病是道德教 学方式,那是生命健康的法宝,也是命 航扭曲的警告,那是灵主慈悲的天启, 灵主对孩子慈悲的启迪。</p>
                <p>
                    <strong>怕孤独吗?怕麻烦吗?</strong>孤独是彩光美的源能,那是全息生命的阅读,还是觅 光源的始点。
                    <br>那是智能真诚的呼唤,从 此智慧如彩般绽放。</p>
                <p>
                    <strong>怕争斗吗?怕困难吗?</strong>争斗是自我认 识的明镜,那是自己、自己在康复。
                    <br>那是幸福人生交响曲,是身心灵真正的财 富,是宝贵经验的积累。</p>
                <p>
                    <strong>怕无助吗?怕黑暗吗?</strong>它是思维休假的过程,那是储备灵库的资源,也是内晶彩的妙道,那是大宇宙的赐福,宇宙 对人类最美的赐予。</p>
                <p>
                    ￼￼ 啊...一念又一念,啊...我们念念在改变!!
                    <br>啊...一天又一天,啊...我们天天在成长!!
                    <br>啊...一年又一年,啊...
                    <br>我们年年在融圆!!
            </div>

            <div class="page-header col-md-12">
                <h3 class="panel-title">3、《恒星规律》</h3>
            </div>

            <div class="col-md-8 col-md-offset-1">
                <p>
                    <strong>大宇宙○的法则</strong>。
                    <br>一无始无终;二生命永恒;三内外无敌;四出入圆通;五内 在平衡;六阴阳自转;七不入因果。
                </p>
                <strong>○的法则在心间</strong>,
                <span class="text-red">真爱</span>在人间</strong>。
                <br>八不障时空;九境随心转;十光明无限; 十一佛道自性;十二创造本心 ;十三空有自如 ;十四我即一切;十五当下即是。</p>
                <p>
                    <strong>○的法则在心间,幸福在人间</strong>。
                    <br>十六和谐本元;十七声光自显;十八无师自通;十九天地兼容;二十宙宇恒 通;廿一万物自生;廿二其乐无穷; 廿三妙法自出。。。</p>
                <p>
                    <strong>○的法 则在心间,快乐 在人间。
                        <br>○的法则在地球,生命健康永远。
                        <br>○的法则在行星,生命之光永恒......</strong>
                </p>

            </div>
            <div class="col-md-3">
                <div class="alert alert-success">
                    人类大脑海马体激活与开启！
                </div>
            </div>
            <div class="page-header col-md-12">
                <h3 class="panel-title">4、《生命内经》</h3>
            </div>
            <div class="col-md-8 col-md-offset-1">

                <p>
                    <strong>日月星辰身内藏,松果内眼似白太阳, 下丹如月体内行走,驱邪逐魔通体康,百穴似星辰丹似月光,自然长夜不怕黑暗, 若见白阳三世圆通,生生世世无极明。</strong>
                </p>
                <p>
                    <strong>万
                        <span class="text-red">物</span>
                    </strong>教我自然本色,
                    <strong>万
                        <span class="text-red">法</span>
                    </strong>教我方便智慧,
                    <strong>万
                        <span class="text-blue">缘</span>
                    </strong>教我见性自省,
                    <strong>万
                        <span class="text-blue">象</span>
                    </strong>教我虚幻不实,
                    <strong>万
                        <span class="text-red">劫</span>
                    </strong>教我因果不虚, 万
                    <span class="text-red">魔</span>教我顿觉成佛。
                    <strong>
                        <br>万物万法万缘万象,万劫万魔万千世界。</strong>
                </p>
                <p>宇宙是
                    <span class="text-red">吾体</span>,星星是
                    <span class="text-red">吾穴</span>,地球是
                    <span class="text-red">吾心</span>。
                    <br>我要为:我体之畅达顺通而奔碌,宇宙是吾体,星星是吾穴,地球是吾心。
                    <br>我要为:我穴之光亮闪烁而思维,宇宙是吾体,星星是吾穴,地球是吾心。
                    <br>我要为:我心之安详净宁而向往。
                    <br>——来世今生!!今生来世!! ￼￼
            </div>

            <div class="col-md-3">
                <div class="alert alert-success">
                    大宇宙“金色十字星门”在人体内部的激活与开启！
                </div>
            </div>

            <div class="page-header col-md-12">
                5、《圆觉心人类》
            </div>

            <div class="col-md-8 col-md-offset-1">
                <strong>
                    <br>没有哪位菩萨不是曾经的王者转化,</strong>
                <br>没有哪位善者不是曾经的恶者转化,
                <br>没有哪位医者不是曾经的病者转化,
                <strong>
                    <br>没有哪位病者不是思维的迷误所致,</strong>
                <br>没有哪位康者不是真正的觉者行教,
                <br>没有哪位修者不是永远的行者未醒,
                <strong>
                    <br>没有哪位智者眼里会看到人间缺漏,</strong>
                <br>没有哪位真德会创造新的宗教体系,
                <br>没有哪位愚者永远沉沦在苦海悲哀。
                <strong>
                    <br>何须度人人自度,何须教人人自醒,</strong>
                <strong>
                    <br>何须镜人人自境!何须镜人人自境!!</strong>
            </div>
            <div class="page-header col-md-12">
                6、《送给双光生命》
            </div>

            <div class="col-md-8 col-md-offset-1">
                送一道红光,带给你生命的活力;
                <br>送一道橙光,更新你肠胃的频率;
                <br>送一道黄光,祝福万世吉祥如意;
                <br>送一道绿光,带去圆满真心爱意;
                <br>送一道青光,清洗无明哀婉记忆;
                <br>送一道蓝光,划澈幽暗静寂空宇;
                <br>送一道紫光,恢复基因遗失的数据;
                <br>送一道白光,充盈未来美丽的梦景;
                <br>送一道金光,双行大道,永远辉煌, 送一道金光,双行大道,爱无疆!!
                <br>让
                <span class="text-red">光</span>的世界,带来爱的普照, 让
                <span class="text-red">光</span>的世界,圆满永恒生命。
                <strong>
                    <br>不争而筝斗事性,念念清净无念晶, 行住坐卧有为镜,
                    <span class="text-red">无字真经入世行。
                        <br>圆满 永恒 生命!</span>
                </strong>
            </div>
            <div class="page-header col-md-12">
                7、《佛心与魔心的对白》
            </div>

            <div class="col-md-8 col-md-offset-1">
                我的躯体与一对孪生兄弟同时来到这尘缘
                <span class="text-red">世界</span>。他们貌似难辨,他们同体同行, 他们各持己见,他们择一我显,苦我如何分辨,听其对白得见,佛心魔心兄弟,与我并 行这尘缘
                <span class="text-red">世间</span>!
                <p>
                    <strong>魔心看这世界:</strong>肮脏污垢难忍,无一是处 极愤,唯有苦字当头,念念离世洁癖;
                    <strong>
                        <br>
                        <span class="text-red">佛心看这世界:</span>
                    </strong>星光灿烂多彩,美果常见 无恶,今有乐字置顶,开心入世大丰收!
                    <strong>
                        <br>魔心抱怨躯体:</strong>残缺丑陋无奈,社会不 公对待,奋起改造自然,落得凄惨悲哀;
                    <strong>
                        <br>
                        <span class="text-red">佛心赞美躯体:</span>
                    </strong>载我畅游世界,感恩无比善 启,唯以智行回敬,还你个更美的身躯!
                    <strong>
                        <br>魔心告诉佛心:</strong>君不见悲惨世界?竟然 开心常在?令我更加厌恶你的存在!
                    <strong>
                        <br>
                        <span class="text-red">佛心笑对魔心:</span>
                    </strong>如果没有你,我的世界 就会真的暗无光彩!你让我看到智慧的存在,你让我懂得该做与不该做的正在,你 是我最好的兄弟,千万要与我并肩同在!!
                    <strong>
                        <br>
                        <span class="text-red">佛</span>心与魔心的对白,</strong>让我识别他们当 前是谁正在;
                    <strong>
                        <span class="text-red">佛</span>心与魔心的对白,</strong>让我 选择他们之间谁更应该存在;
                    <strong>
                        <br>
                        <span class="text-red">佛</span>心与魔心的对白 ,</strong>让我懂得今生的 价值所在;
                    <strong>
                        <span class="text-red">佛</span>心与魔心的对白,</strong>让我珍 惜生命 如此丰富多彩!找到了如何真正 地自在大无碍!!</p>
            </div>
            <div class="page-header col-md-12">
                8、《心的呼吸》
            </div>

            <div class="col-md-8 col-md-offset-1">
                <span class="text-red">心</span>、
                <span class="text-red">心</span>、
                <span class="text-red">心</span>的阳光,晨起照耀我脸庞, 爱、爱、爱的梦想,展开双手拥抱太阳! 爱我家...... 地球母亲正在扬升,美好心时代即将到来! 妈妈呼唤孩子们净心成长,我们手拉手 勇敢向前迈!!</p>
                <p>
                    <strong>
                        <span class="text-red">新</span>、
                        <span class="text-red">新</span>、
                        <span class="text-red">新</span>
                    </strong>的
                    <span class="text-blue">灵航</span>,从此不再迷茫、彷徨!
                    <br>爱、爱、爱的频光,普照世间暖暖呈祥。</p>
                <strong>
                    <span class="text-red">觉醒,双灵重逢的时刻已经到来!!</span>
                </strong>
                <br>啦。。啦。。啦。。
                <strong>
                    <span class="text-red">光的世界充满爱!!!</span>
                </strong>
            </div>
            <div class="page-header col-md-12">
                9、《双行曲》
            </div>

            <div class="col-md-8 col-md-offset-1">
                我和你,心连心,同住大宙宇,为梦想, 星际游,携手地球村。
                <br>来吧,朋友,伸出你的手,我和你,灵相通,融融一家人。
                <strong>
                    <br>亲人啊,我爱你,对不起,请原谅, 谢谢你,原谅我。</strong>
                <span class="text-blue">
                    <br>你就是我,我就是你。</span>
            </div>
            <div class="page-header col-md-12">
                10、《我爱我家》
            </div>

            <div class="col-md-8 col-md-offset-1">
                <strong>我爱我家,</strong>我家在水库坝下,
                <span class="text-red">美丽的晶彩果花园,五湖四海晶彩同聚一家;</span>
                <strong>
                    <br>我爱我家,</strong>朵朵向日葵盛开如太阳花,桃 花、槐花、梨花、枣花、杏花映满家;
                <strong>
                    <br>我爱我家,</strong>长豆、扁豆、青瓜结满架,好看的葫芦挂满家;
                <strong>
                    <br>我爱我家,</strong>那是美丽的水晶伊甸乐园啊,
                <span class="text-red">妈妈期待晶彩孩子们快乐、快快长大;</span>
                <strong>
                    <br>我爱我家,</strong>我爱爸爸、妈妈,我爱我家, 我爱兄弟姐妹呀,
                <strong>我爱我家、我爱我家、我爱我家! ￼</strong>
            </div>
            
            <!-- /.col-sm-4 -->

        </div>